name: ci 
on:
  # [workflow_dispatch]
  push:
    branches:
      - "master"
jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/karpovilia/test-gp-docker-action/my-cool-service-ki:latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      
      - run: git clone https://github.com/karpovilia/anr-lab-report-tech.git
      - run: rm -rf anr-lab-report-tech/.git/ && mv anr-lab-report-tech/service/* service/ && rm -rf anr-lab-report-tech/

      - name: Assemble joint bibliography
        run: | 
          cd service
          jq -s 'add' *.json > report.json

          # Delete bibliography entry duplicates 
          csl_file="report.json"
          cp "$csl_file" "$csl_file.bak"
          unique_entries=$(jq -cs 'unique' "$csl_file")
          if [ "$(jq -s 'length' <<< "$unique_entries")" -eq "$(jq -s 'length' < "$csl_file")" ]; then
              echo "No duplicates found. Exiting."
              exit 0
          fi
          echo "$unique_entries" > "$csl_file"
      
      - name: Compile
        run: |
          pandoc \
          --pdf-engine=xelatex \
          -V mainfont="CMU Serif" \
          -V monofont="CMU Typewriter Text" \
          --toc \
          --toc-depth=2 \
          --filter=pandoc-crossref \
          --csl=service/gost_n.csl \
          --bibliography=service/report.json \
          --metadata-file=text/000_metadata.md \
          --number-sections \
          --citeproc \
          --reference-doc=service/style-sheet.docx \
          --output=report.docx text/*.md
      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4.16.0
        with:
          commit_message: Changed files
